

.adminuser-container {
    background-color: #202022;
    width: 100%;
    max-width: 900px;
    color: var(--text-color);
    font-family: "Poppins",sans-serif;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: 1px solid gray;
    height: calc(100% - (100px));
    margin-top: 20px;
}

.au-table-container {

}
.au-table-container tr th {
    width: 170px;
    text-align: left;
}
.au-table-container tr td {
    width: 150px;
    letter-spacing: 1px;
}