.hl-container {
    height: max-content;
    background-color: var(--blue-gray);
    color: white;
    padding: 20px;
    min-height: calc(100vh - 80px);
}
.hl-start-indicator {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 10px;
}
.hl-start-indicator h1  {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}
.hl-start-indicator .hlc-text {
    background-image: linear-gradient(to right ,#FE0000,#fe0000b0);
    width: 120px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 1.5px;
}
.hl-start-indicator .hlsi-text {
    background-color: var(--green);
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    width: 190px;
}
.hl-start-indicator .hlsi-text span {
    color: var(--yellow);
    margin-left: 5px;
}
.hl-card-cover {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0;
}
.hl-card-cover .hlcard-cancel {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: red;
    background-color: rgba(255, 255, 255, 0);
}
.hl-card-cover .hlcard-cancel .hl-game-cancel-box {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right ,#E1A203,#e1a203c3);
    width: 100%;
}
.hl-card-cover .hlcard-cancel .hl-game-cancel-box span {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-size: 40px;
}
.hl-card-cover .hl-card1-cover {
    width: 250px;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    position: relative;
    background-color: var(--light-black);
    position: relative;
}

.hl-card-cover .hl-card2-cover {
    width: 250px;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    position: relative;
    background-color: var(--light-black);

}

.hl-card-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.hl-card-container .hldraw-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
}
.hl-card-container .hldraw-wrapper .hldraw-text-box{
    width: 100%;
    height: 100px;
    background-color: var(--yellow);
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hl-card-container .hldraw-wrapper .hldraw-text-box span {
    font-size: 40px;
    font-weight: 600;
}
.hl-card-container .hl-card {
    width: 250px;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    position: relative;
    background-color: whitesmoke;
    transition:  all .3s;
}
.hl-card-container .hl-card .hlcard-win {
    position: absolute;
    height: 40px;
    background-color: var(--green);
    width: 100%;
    top: -42px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--yellow);
    z-index: 9;
}
.hl-card-container .hl-card .hlcard-win span {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
}
/* ace */
.hl-card-container .hl-card-one {
    width: 250px;
    height: 100%;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    position: relative;
    background-color: whitesmoke;
}
.hl-card-container .hl-card  .hl-card-text1 {
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: max-content;
}
.hl-card-container .hl-card .hl-card-text1 span:nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
}
.hl-card-container .hl-card .hl-card-text1 span:nth-child(2) {
    font-size: 21px;
    margin-left: 3px;
}
.hl-card-container .hl-card-one .hl-card-type{
    width: max-content;
    height: max-content;
    position: absolute;
    inset: 0;
    margin: auto;
}
.hl-card-container .hl-card-one .hl-card-type span {
    font-size: 120px;
}
.hl-card-container .hl-card .hl-card-text2 {
    position: absolute;
    height: max-content;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin-right: 5px;
}
.hl-card-container .hl-card .hl-card-text2 span:nth-child(1) {
    font-size: 35px;
    font-weight: bolder;
}
.hl-card-container .hl-card .hl-card-text2 span:nth-child(2) {
    font-size: 21px;
    margin-left: 3px;
}
/* ace */

/* two */
.hl-card-container .hl-card-two .hl-card-type{
    position: absolute;
    inset: 0;
    height: max-content;
    width: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.hl-card-container .hl-card-two .hl-card-type span:nth-child(1) {
    font-size: 60px;
}
.hl-card-container .hl-card-two .hl-card-type span:nth-child(2) {
    font-size: 60px;
    transform: rotate(180deg);
}
/* two */

/* three */
.hl-card-container .hl-card-three .hl-card-type{
    position: absolute;
    inset: 0;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 58px;
}
.hl-card-container .hl-card-three .hl-card-type span {
    font-size: 33px;
}
.hl-card-container .hl-card-three .hl-card-type span:nth-child(3) {
    transform: rotate(180deg);
} 
/* three */

/* four */
.hl-card-container .hl-card-four .hl-card-type {
    inset: 0;
    position: absolute;
    width: 75%;
    height: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.hl-card-container .hl-card-four .hl-card-type  span {
    font-size: 35px;
}
.hl-card-container .hl-card-four .hl-card-type  span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-four .hl-card-type  span:nth-child(3) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-four .hl-card-type  span:nth-child(4) {
    display: flex;
   
    transform: rotate(180deg);
}
/* four */

/* five */
.hl-card-container .hl-card-five .hl-card-type{
    position: absolute;
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.hl-card-container .hl-card-five .hl-card-type span {
    font-size: 33px;
}
.hl-card-container .hl-card-five .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-five .hl-card-type span:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-five .hl-card-type span:nth-child(4) {
    transform: rotate(180deg);
}
.hl-card-container .hl-card-five .hl-card-type span:nth-child(5) {
    position: absolute;
    margin: auto;
    inset: 0;
    width: max-content;
    height: max-content;
}
/* five */

/* six */
.hl-card-container .hl-card-six .hl-card-type {
    position: absolute;
    inset: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.hl-card-container .hl-card-six .hl-card-type span {
    font-size: 33px;
}
.hl-card-container .hl-card-six .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-six .hl-card-type span:nth-child(3) {
    display: flex;
    align-items: center;
}
.hl-card-container .hl-card-six .hl-card-type span:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hl-card-container .hl-card-six .hl-card-type span:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-six .hl-card-type span:nth-child(6) {
    transform: rotate(180deg);
}
/* six */

/* seven */
.hl-card-container .hl-card-seven .hl-card-type {
    width: 75%;
    height: 75%;
    position: absolute;
    inset: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.hl-card-container .hl-card-seven .hl-card-type span {
    font-size: 33px;
}
.hl-card-container .hl-card-seven .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-seven .hl-card-type  span:nth-child(3) {
    display: flex;
    align-items: center;
}
.hl-card-container .hl-card-seven .hl-card-type  span:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hl-card-container .hl-card-seven .hl-card-type  span:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-seven .hl-card-type  span:nth-child(6) {
    display: flex;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-seven .hl-card-type span:nth-child(7) {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: 30% auto 0;
}
/* seven */

/* eight */
.hl-card-container .hl-card-eight .hl-card-type {
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.hl-card-container .hl-card-eight .hl-card-type span {
    font-size: 33px;
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(3) {
    display: flex;
    align-items: center;
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(6) {
    transform: rotate(180deg);
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(7) {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: 30% auto 0;
}
.hl-card-container .hl-card-eight .hl-card-type span:nth-child(8) {
    position: absolute;
    width: max-content;
    height: max-content;
    transform: rotate(180deg);
    inset: 0;
    margin: 87% auto 0;
}
/* eight */

/* nine */
.hl-card-container .hl-card-nine .hl-card-type {
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}
.hl-card-container .hl-card-nine .hl-card-type span {
    font-size: 30px;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(3) {
    display: flex;
    align-items: center;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(5) {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    justify-content: flex-end;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(6) {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(7) {
    transform: rotate(180deg);
    justify-content: flex-end;
    display: flex;
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(8) {
    transform: rotate(180deg);
}
.hl-card-container .hl-card-nine .hl-card-type span:nth-child(9) {
    inset: 0;
    position: absolute;
    width: max-content;
    height: max-content;
    margin: auto;
}
/* nine */

/* ten */
.hl-card-container .hl-card-ten .hl-card-type {
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}
.hl-card-container .hl-card-ten .hl-card-type span {
    font-size: 30px;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(3) {
    display: flex;
    align-items: center;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(5) {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    justify-content: flex-end;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(6) {
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(7) {
    transform: rotate(180deg);
    justify-content: flex-end;
    display: flex;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(8) {
    transform: rotate(180deg);
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(9) {
    inset: 0;
    position: absolute;
    width: max-content;
    height: max-content;
    margin: 30% auto 0;
}
.hl-card-container .hl-card-ten .hl-card-type span:nth-child(10) {
    position: absolute;
    width: max-content;
    height: max-content;
    transform: rotate(180deg);
    inset: 0;
    margin: 87% auto 0;
}
/* ten */
/* eleven */
.hl-card-container .hl-card .card-jqk{
    width: 75%;
    height: 75%;
    inset: 0;
    margin: auto;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
}
.hl-card-container .hl-card .card-jqk span  {
    font-size: 70px;
}
.hl-card-container .hl-card .card-jqk span:nth-child(1) {
    display: flex;
    justify-content: center;
}
.hl-card-container .hl-card .card-jqk span:nth-child(2) {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}
/* eleven */

/* hl-bet-percentage */
.hl-bet-percentage {
    width: 100%;
    max-width: 600px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
}
.hl-bet-percentage .hlbp-details {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hl-bet-percentage .hlbp-details h2 {
    color: var(--yellow);
}
.hl-bet-percentage .hlbp-details span {
    font-family: "Poppins",sans-serif;
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 14px;
}
/* hl-bet-percentage */

/* hl-bet-action */
.hl-bet-action {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.hl-bet-action .hlba-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 250px;
}
.hl-bet-action .hlba-wrapper button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
    transform: scale(1);
}
.hl-bet-action .hlba-wrapper button:hover {
    transform: scale(1.03);
    opacity: .5;
}
.hl-bet-action .hlba-wrapper button:active {
    transform: scale(1);
    opacity: 1;
}
.hl-bet-action .hlba-wrapper:nth-child(1) button {
    background-color: #017AFD;
    color: whitesmoke;
}
.hl-bet-action .hlba-wrapper:nth-child(2) button {
    background-color: #FE0000;
    color: whitesmoke;
}

/* hl-bet-action */

/* hl-bet-payout */
.hl-bet-payout {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.hl-bet-payout span {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}
/* hl-bet-payout */

/* hl-iab-container */
.hl-iab-container {
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    left: 0;
    top: 80px;
    background-color: #15191fbb;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hl-iab-container .hliab-box {
    width: 100%;
    max-width: 300px;
    height: max-content;
    border: 1px solid black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: var(--light-black);
    box-shadow: 0 0 2px white;
    border-radius: 5px;
    margin-bottom: 100px;
}
.hl-iab-container .hliab-box .hliab-err {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    background-color: var(--red);
    padding: 5px;
    border-radius: 3px;
}
.hl-iab-container .hliab-box .hliab-err  button {
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--yellow);
    color: whitesmoke;
    border: none;
}
.hl-iab-container .hliab-box input {
    height: 30px;
    font-family: "Poppins",sans-serif;
    font-size: 17px;
    padding-left: 5px;
    outline: none;
    letter-spacing: 1.5px;
}
.hl-iab-container .hliab-box .hliab-box-action{
   display: flex;

   gap: 10px;
   justify-content: space-around;
}
.hl-iab-container .hliab-box .hliab-box-action button {
    height: 25px;
    width: 40%;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all .3s;
    transform: scale(1);
    opacity: 1;
    border: none;
    font-weight: 600;
}
.hl-iab-container .hliab-box .hliab-box-action button:nth-child(1) {
    background-color: var(--green);
    border-radius: 5px;
    color: whitesmoke;
}
.hl-iab-container .hliab-box .hliab-box-action button:nth-child(2) {
    background-color: var(--red);
    border-radius: 5px;
    color: whitesmoke;
}
.hl-iab-container .hliab-box button:hover {
    transform: scale(1.03);
    opacity: .5;
}
.hl-iab-container .hliab-box button:active {
    transform: scale(1);
    opacity: 1;
}
/* hl-iab-container */


.hl-win-container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15191f93;
    z-index: 99;
}

.hl-win-container .hl-win-box {
    width: 100%;
    max-width: 300px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-black);
    gap: 10px;
}
.hl-win-container .hl-win-box h1 {
    font-family: "Poppins",sans-serif;
    color: var(--green);
    text-shadow: 0 0 1px white;
}

.hl-win-container .hl-win-box button {

    width: 100px;
    height: 30px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--yellow);
    font-weight: 600;
    color: var(--light-black);
    transform: scale(1);
    opacity: 1;
    transition: all .3s;
}
.hl-win-container .hl-win-box button:hover {
    transform: scale(1.05);
    opacity: .5;
}
.hl-win-container .hl-win-box button:active {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 560px) {
   
    .hl-card-cover {
        height: 300px;
        margin-top: 50px;
    }
    .hl-card-cover .hlcard-cancel .hl-game-cancel-box {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right ,#E1A203,#e1a203c3);
        width: 100%;
    }
    .hl-card-cover .hlcard-cancel .hl-game-cancel-box span {
        font-family: "Poppins",sans-serif;
        letter-spacing: 1.5px;
        font-size: 30px;
    }
    .hl-card-cover .hl-card1-cover {
        width: 230px;
    }
    .hl-card-cover .hl-card2-cover {
        width: 230px;
    }
    .hl-card-container {
        height: 300px;  
        margin-top: 50px;
    } 
    .hl-card-container .hl-card  {
        width: 230px;
    }

    .hl-card-container .hl-card .hl-card-text1 span:nth-child(1) {
        font-size: 30px;
    }
    .hl-card-container .hl-card .hl-card-text1 span:nth-child(2) {
        font-size: 18px;
    }
    .hl-card-container .hl-card .hl-card-text2 span:nth-child(1) {
        font-size: 30px;
    }
    .hl-card-container .hl-card .hl-card-text2 span:nth-child(2) {
        font-size: 18px;
    }
    .hl-card-container .hl-card .card-jqk span  {
        font-size: 50px;
    }
    .hl-bet-payout span {
        font-family: "Poppins",sans-serif;
        letter-spacing: 1.5px;
        font-size: 14px;
    }


    .hl-bet-percentage {
        margin-top: 20px;
    }
    .hl-card-container .hl-card .hl-card-type {
        width: 70%;
        height: 70%;
    } 
  
    .hl-card-container .hl-card-two .hl-card-type{
        height: 70%;
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }
    .hl-card-container .hl-card-two .hl-card-type span:nth-child(1) {
        font-size: 40px;
    }
    .hl-card-container .hl-card-two .hl-card-type span:nth-child(2) {
        font-size: 40px; 
    
    }

    .hl-card-container .hl-card-one .hl-card-type{
        width: max-content;
        height: max-content;
        margin: auto;
        position: absolute;
        inset: 0;
    }
    .hl-card-container .hl-card-one .hl-card-type span {
        font-size: 80px;
    }
 
}
@media only screen and (max-width: 510px) {
    .hl-card-cover {
        height: 300px;
    }
    .hl-card-cover .hl-card1-cover {
        width: 200px;
    }
    .hl-card-cover .hl-card2-cover {
        width: 200px;
    }
   
    .hl-card-container .hl-card  {
        width: 200px;
    }

    .hl-bet-action .hlba-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 250px;
    }
    .hl-bet-action .hlba-wrapper button {
        width: 160px;
    }

    .hl-card-container .hl-card .hl-card-type span {
        font-size: 25px;
    }
    .hl-card-container .hl-card-one .hl-card-type span {
        font-size: 80px;
    }
}
@media only screen and (max-width: 450px) {
    .hl-card-cover {
        height: 290px;
    }
    .hl-card-container   {
        height: 290px;
    }
    .hl-card-cover .hl-card1-cover {
        width: 180px;
    }
    .hl-card-cover .hl-card2-cover {
        width: 180px;
    }
    .hl-card-container .hl-card  {
        width: 180px;
    }
    .hl-card-container .hl-card-one .hl-card-type span {
        font-size: 80px;
    }
}

@media only screen and (max-width: 420px) {
    .hl-card-cover {
        height: 250px;
    }
    .hl-card-container   {
        height: 250px;
    }
    .hl-card-cover .hl-card1-cover {
        width: 150px;
    }
    .hl-card-cover .hl-card2-cover {
        width: 150px;
    }
    .hl-card-container .hl-card  {
        width: 150px;
    }
    .hl-bet-action .hlba-wrapper button {
        width: 120px;
    }
    .hl-card-container .hl-card .hl-card-type span {
        font-size: 20px;
    }
    .hl-card-container .hl-card-one .hl-card-type span {
        font-size: 80px;
    }
}