.footer {
    width: 100%;
    background-color: var(--light-black);
    padding-bottom: 10px;
    border-top: 1px solid gray;
}
.footer-body {
    width: 100%;
    max-width: 1300px;
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 270px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins",sans-serif;
    border-bottom: 1px solid #292836;
}

.footer-body .footer-text {
    /* border: 1px solid white; */
    position: relative;
}
.footer-body .footer-text h1 {
    color: white;
    opacity: .9;
}
.footer-body .footer-text i {
    position: absolute;
    right: -17px;
    top: -4px;
    color: var(--yellow);
}
.footer-body .link-box {
    /* border: 1px solid white; */
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-body .link-box h5 {
    color: #fff;
    letter-spacing: 1px;
    opacity: .9;
}
.footer-body .link-box  .footer-link-div a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
.footer-body .footer-social-links .footer-link-div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-body .footer-social-links .footer-link-div i {
    font-size: 13px;
}
.footer-body .footer-social-links .footer-link-div .facebook-i {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid var(--yellow);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-body .footer-social-links .footer-link-div .twitter-i {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffffc3;
    background-image: linear-gradient(var(--yellow),#FCAC39);
}
.footer-body .footer-social-links .footer-link-div .instagram-i {
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    border: 1px solid var(--yellow);
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copy-right {
    width: 100%;
    max-width: 1300px;
    margin: 5px auto 0;
}
.footer-copy-right  p {
    color: #fff;
    font-family: "Poppins",sans-serif;
    opacity: .8;
}

@media only screen and (max-width: 940px) {
    .footer-body {
        gap: 30px;
        flex-wrap: wrap;
        align-items:first baseline;
        height: max-content;
    }
    .footer-body .footer-logo-txt {
        margin-top: 20px;
    }
    .footer-body .f-body-child {
        width: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-body  {
        width: 250px;
        flex-direction: column;
        justify-content: first baseline;
        align-items: first baseline;
        gap: 10px;

    }
  
    .footer-copy-right  p {
        padding: 10px;
        font-size: 14px;
    }
}