.landing-page-container {
    background-image: radial-gradient(#19191B, #050505);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
}
.lp-main-headline-container {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 1300px;
    margin: 50px auto 0;
    justify-content: space-around;
    align-items: center;
}

.lp-main-headline-container .lp-headline .lp-headline-main-text {
    color: #fff;
    font-family: "Poppins",sans-serif;
    opacity: .9;
    margin-bottom: 10px;
}
.lp-main-headline-container .lp-headline .lp-headline-main-text .lp-main-text-price {
    background-color: var(--yellow);
    padding: 5px 10px;
    border-radius: 10px;
    color: #080D20;
    background-image: linear-gradient(top to bottom ,#FCC336,var(--yellow));
}
.lp-main-headline-container .lp-headline .lp-headline-main-text h1 {
    letter-spacing: 1px;
}
.lp-main-headline-container .lp-headline .lp-headline-main-text h1:nth-child(1) {
    font-size: 30px;
}
.lp-main-headline-container .lp-headline .lp-headline-btn  {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.lp-main-headline-container .lp-headline p {
    color: yellow;
    letter-spacing: 1.5px;
    font-family: "Poppins",sans-serif;
    opacity: .5;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a {
    padding: 5px 15px;
    font-family: "Poppins";
    letter-spacing: 1.5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .3s;
    transform: scale(1);
    opacity: 1;
    text-decoration: none;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(1) {
    background-color: var(--green);
    color: #fff;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(1):hover {
    transform: scale(1.3);
    opacity: .8;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(1):active {
    transform: scale(1);
    opacity: 1;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(2) {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(2):hover {
    transform: scale(1.3);
    opacity: .8;
    z-index: 2;
}
.lp-main-headline-container .lp-headline .lp-headline-btn a:nth-child(2):active {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}
.lp-headline-image-container {
    /* border: 1px solid white; */
    position: relative;
    /* border: 1px solid white; */
}
.lp-headline-image-container .lp-headline-img-text {
    position: absolute;
    color: #f4f4f4;
    padding: 10px;
    text-shadow: 0px 0px 4px var(--yellow);
    border-radius: 20px;
    font-family: "Poppins",sans-serif;
    bottom: 0;
}
.lp-headline-image-container .lp-headline-img-wrapper {
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.lp-headline-image-container .lp-headline-img-wrapper  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid green; */
}

.lp-instruct-play {
    width: 100%;
    max-width: 1300px;
    /* border: 1px solid black; */
    margin: 30px auto 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.lp-instruct-play .lpip-box {
    height: 100px;
    /* border: 1px solid white; */
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: #1E232E;
    box-shadow: 0px 0px 2px white;
}
.lp-instruct-play .lpip-box .lpip-box-icon{
    width: 100px;
    height: 100%;
    min-width: 90px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E3543;
    border-radius: 10px;
}
.lp-instruct-play .lpip-box .lpip-box-icon i {
    font-size: 40px;
    color: var(--yellow);
}
.lp-instruct-play .lpip-box .lpip-txt span {
    color: #fff;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}
.lp-banner {
    width: 100%;
    max-width: 1300px;
    margin: 110px auto ;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px var(--yellow);
    background-image: url('../../images/jp-win.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}

.lp-banner .lp-banner-text {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080d20aa;
}
.lp-banner .lp-banner-text h1 {
    text-shadow: 0px 0px 5px black;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: var(--yellow);
}

.lp-banner .lp-banner-text a {
    padding: 6px 20px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    border-radius: 10px;
    background-image: linear-gradient(#FEEA3D,#FBA33A);
    border: none;
    font-weight: 600;
    color: #080D20;
    cursor: pointer;
    text-decoration: none;    
    transition: all .3s;
    transform: scale(1);
    opacity: 1;
}

.lp-banner .lp-banner-text a:hover {
    transform: scale(1.05);
    opacity: .6;
}
.lp-banner .lp-banner-text a:active {
    transform: scale(1);
    opacity: 1;
}
.lp-platform {
    width: 100%;
    max-width: 1200px;
    border: 1px solid white;
    margin: 0 auto 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1E232E;
    font-family: "Poppins",sans-serif;
}
.lp-platform h1 {
    letter-spacing: 1.5px;
    color: #fff;
    opacity: .9;
}
.lp-platform .lp-platform-content {
    display: flex;
    justify-content: space-around;
}

.lp-platform .lp-platform-content .lp-platform-img {
    width: 100%;
    max-width: 400px;
    height: 300px;
}
.lp-platform .lp-platform-content .lp-platform-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lp-platform .lp-platform-content .lp-platform-article {
    width: 100%;
    max-width: 500px;

}


.lp-platform .lp-platform-content .lp-platform-article .lppa-box .llpa-box-header {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--yellow);
}
.lp-platform .lp-platform-content .lp-platform-article .lppa-box .llpa-box-header i {
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    width: 28px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lp-platform .lp-platform-content .lp-platform-article .lppa-box .llpa-box-header h4 {
    letter-spacing: 1.5px;
    text-shadow: 0 0 2px black;
    opacity: .9;
}
.lp-platform .lp-platform-content .lp-platform-article .lppa-box span {
    color: #fff;
    opacity: .8;
    font-size: 14px;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1100px) {
    .lp-main-headline-container .lp-headline  {
        /* border: 1px solid white; */
        min-width: 395px;

    } 
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1 {
        font-size: 20px;
    }
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1:nth-child(1) {
        font-size: 25px;
    }
    .lp-headline-image-container {
        width: 100%;
        max-width: 500px;
        padding: 10px;
    }
    .lp-headline-image-container .lp-headline-img-wrapper {
        max-width: 400px;
        margin: 0 auto;
    }
    .lp-headline-image-container .lp-headline-img-text {
        font-size: 17px;
        left: 0;
        right: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 1000px) {
    .lp-instruct-play .lpip-box {
        width: 250px;
        height: 80px;
    }  
    .lp-instruct-play .lpip-box .lpip-box-icon {
        border: 1px solid white;
        min-width: 60px;
        max-width: 60px;
    }
    .lp-instruct-play .lpip-box .lpip-box-icon i {
        font-size: 25px;
    }
    .lp-instruct-play .lpip-box .lpip-txt span  {
        font-size: 12px;
    }
}
@media only screen and (max-width: 930px) {
    .lp-main-headline-container {
        border: 1px solid white;
    }
    .lp-main-headline-container {
        flex-direction: column;
        margin: 0 auto;
    }
    .lp-main-headline-container .lp-headline {
        /* border: 1px solid red; */
        height: calc(100vh - 80px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 100px;
    }
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1 {
        margin-top: 10px;
        font-size: 25px;
    }
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1:nth-child(1) {
        font-size: 30px;
    }
    .lp-headline-image-container {
        margin: 50px 0;
    }
} 
@media only screen and (max-width: 840px) {
    .lp-platform {
        border-radius: 0;
        padding: 20px 10px 100px;
    }
    .lp-platform .lp-platform-content  {
        flex-direction: column;
    }
    
    .lp-platform .lp-platform-content .lp-platform-img {
        margin: 0 auto;
    }
    .lp-platform .lp-platform-content .lp-platform-article {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 810px) {
    .lp-instruct-play {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 50px 0;
    }
    .lp-instruct-play .lpip-box {
        width: 250px;
        height: 80px;
    }  
    .lp-instruct-play .lpip-box .lpip-box-icon {
        border: 1px solid white;
        min-width: 60px;
        max-width: 60px;
    }
    .lp-instruct-play .lpip-box .lpip-box-icon i {
        font-size: 25px;
    }
    .lp-instruct-play .lpip-box .lpip-txt span  {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .lp-main-headline-container .lp-headline  {
        padding-left: 50px;
    }
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1 {
        font-size: 20px;
    }
    .lp-main-headline-container .lp-headline .lp-headline-main-text h1:nth-child(1) {
        font-size: 23px;
    }
    .lp-platform .lp-platform-content .lp-platform-article {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media only screen and (max-width: 540px) {
    .lp-banner .lp-banner-text h1 {
        font-size: 16px;
        text-align: center;
    }
}
@media only screen and (max-width: 415px) {
    .lp-main-headline-container .lp-headline {
        min-width: 0;
    }
    .lp-main-headline-container .lp-headline  {
        padding-left: 10px;
    }
    .lp-headline-image-container {
        width: 100%;
        max-width: 400px;
        padding: 10px;
    }
    .lp-headline-image-container .lp-headline-img-wrapper {
        max-width: 350px;
        margin: 0 auto;
    }
}