@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --light-black: #15191F;
  --yellow: #E1A203;
  --red:#981107;
  --green:#02743A;
  --blue-gray: #1E232E;
  --text-color: #ffffffec;
  --blue: rgb(12, 12, 150);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-app {
  /* background-color: red;  */
  height: 100%;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
}
