.login-container {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-gray);
    padding: 10px;
}
.login-container .login-c-wrapper {
    border: 1px solid var(--yellow);
    padding: 20px;
    width: 100%;
    max-width: 450px;
    background-color: #2E3543;
    border-radius: 10px;
}
.login-container .login-c-wrapper h1 ,h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: rgba(245, 245, 245, 0.866);
}
.login-container .login-c-wrapper h1 {
    font-size: 30px;
}
.login-container .login-c-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.login-container .login-c-wrapper form .login-input-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-container .login-c-wrapper form .login-input-wrapper i {
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: rgba(255, 255, 255, 0.824);
    cursor: pointer;
    transition: all .3s;
    transform: scale(1);
    opacity: 1;
}
.login-container .login-c-wrapper form .login-input-wrapper i:hover {
    transform: scale(1.05);
    opacity: .6;
}
.login-container .login-c-wrapper form .login-input-wrapper i:active {
    transform: scale(1);
    opacity: 1;
}
.login-container .login-c-wrapper form .login-input-wrapper label {
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    color: whitesmoke;
    text-shadow: 0px 0px 2px black;
}
.login-container .login-c-wrapper form .login-input-wrapper input {
    height: 35px;
    outline: none;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--light-black);
    color: whitesmoke;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
}

.login-container .login-c-wrapper form .lc-login-button {
    height: 35px;
    font-size: 17px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right ,#02743A,#1E232E);
    color: whitesmoke;
    cursor: pointer;
    transition: all .3s;
    transform: scale(1);
    opacity: 1;
}
.login-container .login-c-wrapper form .lc-login-button:hover {
    transform: scale(1.03);
    opacity: .7;
}
.login-container .login-c-wrapper form .lc-login-button:active {
    transform: scale(1);
    opacity: 1;
}
.login-container .login-c-wrapper form .login-d-account {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Poppins",sans-serif;
}
.login-container .login-c-wrapper form .login-d-account span {
    color: white;
   
}
.login-container .login-c-wrapper form .login-d-account a {
    color: rgba(0, 0, 255, 0.876);
    text-shadow: 0 0 2px white;
}
.lc-success-signup {
    font-family: "Poppins",sans-serif;
    background-color: var(--green);
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lc-success-signup button {
    padding: 5px;
    cursor: pointer;
}
.lc-success-signup span {
    color: white;
    opacity: .8;
}
.lc-error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins",sans-serif;
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
}
.lc-error-message button {
    padding: 5px;
    cursor: pointer;
}
.lc-error-message span {
    color: white;
    opacity: .8;
    letter-spacing: 1px;
}
@media only screen and (max-width: 450px) {
    .login-container .login-c-wrapper {
        padding: 10px;
        border-radius: 5px;
    }
}