.register-container {
    height: max-content;
    background-color: var(--blue-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    padding: 10px;
}

.register-form-wrapper {
    background-color: #2E3543;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: max-content;
    border-radius: 10px;
    border: 1px solid var(--yellow);
    font-family: "Poppins",sans-serif;
}
.register-form-wrapper h1 {
    font-size: 27px;
    letter-spacing: 1.5px;
}
.register-form-wrapper h1 , h2 {
    color: #ffffffcf;
   font-family: "Roboto Condensed", sans-serif;
}

.register-form-wrapper  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.register-form-wrapper  form  .register-input-wrapper{
    display: flex;
    flex-direction: column;
    color: #ffffffc9;
    position: relative;
}
.register-form-wrapper  form  .register-input-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 10px;
    transition: all .3s;
    transform: scale(1);
    cursor: pointer;
}
.register-form-wrapper  form  .register-input-wrapper i:hover {
    transform: scale(1.05);
}
.register-form-wrapper  form  .register-input-wrapper i:active {
    transform: scale(1);
}
.register-form-wrapper  form  .register-input-wrapper input {
    height: 37px;
    padding-left: 5px;
    font-family: "Poppins",sans-serif;
    letter-spacing: 1.5px;
    background-color: transparent;
    border: 1px solid #ffffffc9;
    outline: none;
    color: #ffffffa6;
    border-radius: 3px;
    background-color: var(--light-black);
    font-size: 17px;
}
.register-form-wrapper  form  .register-input-wrapper label {
    text-shadow: 0px 0px 2px black,0px 0px 2px black;
    letter-spacing: 1.5px;
}

.register-form-wrapper  form .register-btn {
    height: 32px;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right , #e1a203d0,#E1A203);
    color: #15191F;
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
    transform: scale(1);
    margin-top: 10px;
}
.register-form-wrapper  form .register-btn:hover {
    opacity: .7;
    transform: scale(1.03);
}
.register-form-wrapper  form .register-btn:active {
    opacity: 1;
    transform: scale(1);
}
.register-form-wrapper  form .reg-al-account {
    display: flex;
    gap: 10px;
    align-items: center;
}
.register-form-wrapper  form .reg-al-account span{
    color: whitesmoke;
    letter-spacing: 1.5px;
    margin-right: 3px;
}
.register-form-wrapper  form .reg-al-account a {
    text-shadow: 0px 0px 2px wheat;
    letter-spacing: 1.5px;
}


/* .error */
.error-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
}
.error-container span {
    color: white;
    opacity: .8;
    letter-spacing: 1px;
}
.error-container button {
    padding: 5px;
    cursor: pointer;
}
/* .error */

@media only screen and (max-width: 450px) {
    .register-container {
        padding: 5px;
    }
    
    .register-form-wrapper {

        border-radius: 0;
        padding: 20px 5px; 
    }
    .register-form-wrapper h1  {
        
        font-size: 23px;
        letter-spacing: 1.5px;
    }
    .register-form-wrapper h2  {
        
        font-size: 17px;
        letter-spacing: 1.5px;
    }
    .register-form-wrapper  form .reg-al-account span{
        font-size: 13px;
        margin-left: 10px;
    }
}